.carrosselContainer {
    position: relative;
    width: 100%;
}

.carrossel {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    height: 100%;
    align-items: stretch;
}

.carrosselFade{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 30px;
}
.carrosselFade#left{
    left: -20px;
}
.carrosselFade#right{
    right: -20px;
}

.card{
    .carrosselFade#left {background-image: linear-gradient(to right, var(--verdeClaro) 10%, transparent);}
    .carrosselFade#right {background-image: linear-gradient(to left, var(--verdeClaro) 10%, transparent);}
}

.circleButton.left, .circleButton.right {
    z-index: 10;
}

.circleButton.left {
    margin-left: 30px;
}
.circleButton.right {
    margin-right: 30px;
}
.circleButton .btn{
    background-color: var(--verdeClaroTransparente);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.carrosselCard > div > img, .empty img{
    width: 100%;
    aspect-ratio: 4/3;
    border-radius: 20px;
    object-fit: cover;
}

.carrosselCardFrame{
    padding: 0;
}