footer{
    background-color: #2c2c2c;
    padding: 7%;
    padding-bottom: 110px;
    align-items: center;
    justify-content: center;
    gap: 30px;

    .linhaVertical{display: none;}

    img{
        width: 100%;
        object-fit: scale-down;
        object-position: left;
    }
    p{
        text-align: center;
    }

    a{
        color: rgba(255, 255, 255, 0.8);
        text-decoration: underline;
    }

    #logoPNMJ{
        height: 35px;
    }
    #logoSEMAAP{
        height: 60px;
    }

    #linksFooter{
        width: fit-content;
        justify-content: center;
    }
}

.conteudoFooter{
    width: 100%;
    flex-direction: column;
    gap: 40px;
}

@media (width > 850px){
    footer{
        padding: 30px 5%;
        img{
                width: unset;
                height: 60px;
                object-position: left;
            }
        #linksFooter{
            flex-direction: row;
        }
        #bloco{
            flex-direction: row;
        }
    }
    .conteudoFooter{
        flex-direction: row;
    }
}