.custom-select {
    position: relative;
}

.select-button {
    width: 100%;
    padding: 10px 14px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border: none;
    border-radius: 10px;

    background: transparent;

    font-size: 16px;
    cursor: pointer;

    transition: 0.2s;
}

.select-button:hover {
    background: var(--headerBackground);
    backdrop-filter: blur(20px);
}

.arrow {
    transition: 0.2s;
}

.arrow.rotate {
    transform: rotate(180deg);
}

.select-options {
    padding: 0;

    position: absolute;

    bottom: 120%;
    left: 0;

    width: max-content;

    background: var(--headerBackground);
    backdrop-filter: blur(10px);

    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 -5px 20px rgba(0, 0, 0, 0.2);
    z-index: 100;
    animation: fadeIn 0.3s ease;
    font-family: Inter, Arial, Helvetica, sans-serif;
    border: 1px solid rgba(255, 255, 255, 0.7);
}

.select-button:has(.arrow.rotate){
    border-radius: 0 0 20px 20px !important;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.select-options li {
    margin: 0;

    padding: 12px 14px;

    cursor: pointer;

    border-bottom: 1px solid rgba(255, 255, 255, 0.4);

    transition: 0.15s;
}

.select-options li.active {
    background-color: var(--verdeClaroTransparente);
    color: var(--verdeEscuro);

    font-weight: bold;
}

.select-options li:hover {
    background: var(--verdeEscuro);
    color: #fff;
}

@media (width > 850px){
    .select-options{
        bottom: unset;
        top: 120%;
    }
}