@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: Heavitas; src: url(/fonts/Heavitas.ttf);
    ascent-override: 100%;
    descent-override: 25%;
    line-gap-override: 0%;
}

:root{
    --verdeEscuro: #008A66;
    --verdeClaro: #CBFFF1;
    --verdeClaroTransparente: rgba(203, 255, 241, 0.7);
    --headerBackground: #309e819a;
    --texto: #5C5C5C;
}

h1, h2, h3, p, a {
    color: #fff;
}
h1, h2 {
    font-family: Heavitas, sans-serif;
    font-weight: 400;
}
h1 {
    font-size: 24px;
}
p, a, h3 {
    font-family: Inter, Arial, Helvetica, sans-serif;
}
p, a {
    font-size: 14px;
    text-decoration: none;
}
h3 {
    font-weight: 700;
}

.horizontal{
    display: flex;
    flex-direction: row;
}
.vertical{
    display: flex;
    flex-direction: column;
}
.gap5{
    gap: 5px;
}

section{
    padding: 0 5%;
}
.container{
    min-height: 100vh;
}

body{
    background-color: var(--verdeEscuro);
    overflow-x: hidden;
    gap: 15px;
    scroll-behavior: smooth;
}
#root{
    overflow-x: hidden;
}

.paddingHeader{
    height: 20px;
}

.bannerInicio{
    background:  linear-gradient(rgba(0, 0, 0, 0.6)), url(assets/img/inicio-bg.webp);
    background-size: cover;
    background-position: center;
    align-items: end;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 20px;

    .conteudo{
        width: 100%;
        margin-top: 150px;
        padding: 0;

        >img{
            width: 80%;
            max-width: 300px;
        }
    }
}

.carrossel::-webkit-scrollbar {
  display: none;
}
.carrossel{
    margin: 0 -30px;
    padding: 0 30px;
    gap: 10px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-padding: 30px;
    scroll-behavior: smooth;
}
.carrosselCard{
    width: 100%;
    min-width: 100%;
    background-size: cover;
    justify-content: end;
    padding: 20px;
    padding-top: 100px;
    border-radius: 20px;
    scroll-snap-align: start;

    .btn{
        margin-top: 5px;
        border-radius: 10px;
    }
}
#trilhas{background-image: linear-gradient(rgba(0, 0, 0, 0.6)), url(./assets/img/trilha.webp);}
#especies{background-image: linear-gradient(rgba(0, 0, 0, 0.6)), url(./assets/img/especies.jpg);}
#passaros{background-image: linear-gradient(rgba(0, 0, 0, 0.6)), url(./assets/img/passaros.jpeg);}

#scannercard{
    background-image: url(./assets/img/QrCardBg.png);
    background-size: cover;
    background-position: center bottom;

    padding: 20px;
    gap: 15px;
    border-radius: 20px;

    h1{color: var(--verdeEscuro);}
    p{color: var(--texto);}

    .vertical{
        gap: 5px;
    }
    a{
        width: fit-content;
    }
    .btn{
        border-radius: 10px;
    }
}

#linksSugeridos{
    nav{
        gap: 10px;
    }
}

.img-fade{
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center top;

    padding-top: 85%;
}

#capivara{
    background-image: url(./assets/img/CapivaraMobile.webp);
}

.lista{
    gap: 10px;
}
.conteudo{
    gap: 20px;
    padding-bottom: 30px;

}

.titulo{
    gap: 10px;
    align-items: center;

    a, img{
        width: 26px;
        height: 26px;
    }
}

.orderByList{
    margin-bottom: 20px;
}

.dropdown-none {
  color: #fff;
  border: 0px transparent;
  background: transparent;
  padding: 5px;
  font-size: 14px;
  transition: 0.4s;
}
option{
    color: var(--texto);
}
option:checked {
    font-weight: bold;
}

.pontosTrilha{
    gap: 15px;
    h1{color: var(--verdeEscuro);}

    .btn-dark{width: 100%; border-radius: 10px;}
}
.back{
    transform: scaleX(-1);
}

.mapa, .mapaInterativo{
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--verdeClaro);
    border-radius: 20px;
    overflow: hidden;
}
.mapaInterativo{
    width: 55%;

    p{color: var(--texto);}

    path{
        stroke-width: 15px;
        transition: all .3s ease-in-out;
        cursor: pointer;
    }
    path:hover{
        stroke-width: 23px;
    }
    path:hover path:not(:hover){
        fill-opacity: 0.5;
    }

}


#filtros{
    width: 100%;
    justify-content: space-between;
 
    align-items: center;

    .horizontal{
        align-items: center;
    }
}

.linhaPontilhadaDark{
    border-bottom: 2px dashed var(--verdeEscuro);
}

.cardTrilhaInfo{
    background-color: var(--verdeClaro);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    width: auto;
    border-radius: 20px;
    transition: transform .35s ease-in-out;
    h2{
        font-family: Inter, Arial, Helvetica, sans-serif;
        font-size: 20px;
        font-weight: 800;
        color: var(--verdeEscuro);
    }

    p{
        color: var(--texto);
        display: flex;
        width: fit-content;
    }
    
}

/* Card Trilha */

/*-------------*/

@media (width > 850px) {
    body{
        padding-top: 0;
    }
    .paddingHeader{
        height: 120px;
    }
    #inicio{
        flex-direction: row;
    }
    .bannerInicio{
        align-items: center;
        .conteudo {
            width: 50%;
            margin: 50px 0;
        }
    }
    .img-fade{
        min-height: 100dvh;
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: center;

        margin-top: 0;
        padding-top: 120px;
        padding-bottom: 30px;

        .conteudo{
            width: 40%;
        }
    }
    #paddingImgFade{
        display: none;
    }
    #capivara{
        background-image: url(./assets/img/CapivaraDesktop.webp);
    }
    .carrossel{
        flex-direction: column;
        margin: 0;
        padding: 0;
        gap: 20px;
        width: 70%;
        justify-content: space-between;
        overflow: hidden;
    }
    .carrosselCard{
        min-width: none;
        min-width: 30%;
    }

    #detalheTrilha{
        flex-direction: row;
    }

    #conteudoTrilha{
        width: 50%;
    }

    .mapa{
        width: 50%;
        height: fit-content;
    }
}